@{
  Layout = "_Layout";
}

<h1>Welcome Eau Claire's Salon!</h1>
<p>@Html.ActionLink("List of clients", "ClientIndex", "Clients")</p>
<p>@Html.ActionLink("List of Stylists", "StylistIndex", "Stylists")</p>